@use 'variables.scss' as *;
// Font size utility classes

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

// Letter spacing utility classes
.ls-0 {
  letter-spacing: 0px !important;
}

// Line height utility classes
.lh-normal {
  line-height: normal !important;
}

//font-weight utility classes
.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

// Font color utility classes
.fc-black {
  color: #000 !important;
}
.fc-smoked {
    color: #374151 !important;
}

.fc-white {
  color: #fff !important;
}

.fc-blue {
  color: $blue !important;
}

.fc-gray {
  color: $gray-text !important;
}

.fc-error {
  color: $error !important;
}

.ff-inter {
  font-family: 'Inter', sans-serif !important;
}

//background color utility classes
.bg-primary {
  background-color: $primary-bg !important;
}

.bg-blue {
  background-color: $primary-blue !important;
}

.bg-light-green {
  background-color: #F3FAF7 !important;
}

.bg-light-gray {
  background-color: $bg-gray-light !important;
}
.bg-gray-primary {
  background-color: #E5E7EB !important;
}

// Alert styles
.alert-info-small {
  background-color: $blue-light !important;
  border-color: $blue-border !important;
  padding: 10px !important;
  border-radius: $border-radius !important;
}

.alert-error-small {
  background-color: $red-light !important;
  border-color: $red-border !important;
  color: $red !important;
  padding: 10px !important;
  border-radius: $border-radius !important;
}

//Dot indicator
.dot-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}

// Width utility classes
.w-fit-content {
  width: fit-content;
}

.w-max-content {
  width: max-content;
}

// Box shadow utility classes
.box-shadow-sm {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(218, 218, 218, 1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(218, 218, 218, 1);
  box-shadow: 0px 0px 4px 0px rgba(218, 218, 218, 1);
}

//Input label
.custom-input-label {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.black-badge {
  border-radius: 4px;
  background-color: #000;
  padding: 1px 3px;
  color: #fff;
  width: 50px;
}

// Expansion panel small (used in participant selected classes)
.expansion-panel-small {
  border-radius: 0 !important;

  .v-expansion-panel-title__overlay {
    background-color: transparent;
  }
}



.package-card.green {
  background-color: #F3FAF7;
}

//badges
.custom-badge {
  display: flex;
  align-items: center;
  border-radius: $border-radius !important;
  font-weight: 500 !important;
  padding: 4px 8px !important;
  max-width: max-content;
  border: 1px solid transparent;
}

.custom-badge.info {
  color: #000;
  background-color: $yellow;
}

.custom-badge.green {
  color: $green-dark;
  background-color: #DEF7EC;
  border-color: $green-dark;
}

.custom-badge.gray {
  color: #374151 !important;
  border-color: #D1D5DB !important;
}
.custom-badge.orange {
  color: #000 !important;
  background-color: #FDBA8C;
}

