$primary-bg: #f3f4f6;
$gray: #99a1af;
$gray-border: #e5e7eb;
$gray-light: #e5e7eb;
$blue-light: #eff6ff;
$blue-border: #bedbff;
$blue: #1C64F2;
$red-light: #fef2f2;
$red-border: #ffc9c9;
$red: #c31314;
$gray-text: #6a7282;
$primary-blue: #1a56db;

$border-radius: 8px;
