
$gray: #99a1af;
$gray-border: #e5e7eb;
$gray-light: #e5e7eb;
$blue-light: #eff6ff;
$blue-border: #bedbff;
$blue: #1447e6;
$red-light: #fef2f2;
$red-border: #ffc9c9;
$red: #c31314;

$border-radius: 8px;
