$primary-bg: #f3f4f6;
$blue-bg: #dbeafe;
$gray: #99a1af;
$gray-border: #e5e7eb;
$gray-light: #e5e7eb;
$gray-dark: #4B5563;
$blue-light: #eff6ff;
$blue-border: #bedbff;
$red-light: #fef2f2;
$red-border: #ffc9c9;
$red: #c31314;
$error: #fb2c36;
$gray-text: #6a7282;
$primary-blue: #1a56db;
$blue: #1C64F2;
$bg-gray-light: #F9FAFB;
$bg-yellow-light: #FDF6B2;
$yellow: #FACA15;
$green-dark: #014737;

$border-radius: 8px;
$border-radius-accordion: 12px;
